.todo-detail {
    .heading {
        padding: 22px;
        background: #41b883;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold
    }
    .detail {
        padding: 20px;
        background: #343a40;
    }
}