<div class="container" id="app-demo" style="margin-top: 40px;">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Vue Demo</h3>
                    <button type="button" class="btn btn-info pull-right" data-toggle="modal" data-target="#myModal">
                        <i class="glyphicon glyphicon-plus"></i>
                    </button>
                    <form action="" method="POST" role="form">
                        <div class="form-group">
                            <!-- <label for="">Search</label> -->
                            <input type="text" class="form-control" id="" v-model="search" placeholder="Type content...">
                        </div>
                    </form>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Age</th>
                                    <th>Class</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(person, index) in searchs">
                                    <td>{{ person.name }}</td>
                                    <td>{{ person.age }}</td>
                                    <td>{{ person.class }}</td>
                                    <td>
                                        <button type="buton" v-on:click="updateStudent(index)" class="btn btn-info" data-toggle="modal" data-target="#myModalu">
                                            <i class="glyphicon glyphicon-pencil"></i>
                                        </button>
                                        <button type="buton" v-on:click="deleteStudent(index)" class="btn btn-danger">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Add students</h4>
                </div>
                <div class="modal-body">
                    <form action="" method="POST" role="form" v-on:submit.prevent="addStudent">
                        <form action="" method="POST" role="form" v-on:submit.prevent="updateStudent">
                            <div class="form-group">
                                <label for="">Name</label>
                                <input type="text" class="form-control" v-model="student.name" required="" id="" placeholder="Name...">
                            </div>
                            <div class="form-group">
                                <label for="">Age</label>
                                <input type="number" class="form-control" v-model="student.age" id="" required="" placeholder="Age...">
                            </div>
                            <div class="form-group">
                                <label for="">Class</label>
                                <input type="text" class="form-control" v-model="student.class" required="" id="" placeholder="Class...">
                            </div>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" v-on:click="clearStudent" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="myModalu" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 class="modal-title">Update students</h4>
                    </div>
                    <div class="modal-body">
                        <form action="" method="POST" role="form" v-on:submit.prevent="updateStudent">
                            <div class="form-group">
                                <label for="">Name</label>
                                <input type="text" class="form-control" v-model="student.name" required="" id="" placeholder="Name...">
                            </div>
                            <div class="form-group">
                                <label for="">Age</label>
                                <input type="number" class="form-control" v-model="student.age" id="" required="" placeholder="Age...">
                            </div>
                            <div class="form-group">
                                <label for="">Class</label>
                                <input type="text" class="form-control" v-model="student.class" required="" id="" placeholder="Class...">
                            </div>
                            <button type="submit" class="btn btn-primary">Update</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" v-on:click="clearStudent" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>