
<my-checkbox inline-template>
    <div class="checkbox-wrapper">
        
        <button @click="check" class="title" v-html="checkbox.title"></button>
        <input type="checkbox" :value="checkbox.checked" :checked="checkbox.checked">
    </div>


    <!-- <div class="checkbox-wrapper">
        <div class="form-group" v-for="item in items">
            <label @click="check" class="title" v-html="item.title"></label>
            <input type="checkbox" :value="item.checked" :checked="item.checked">
        </div>
        
        
    </div> -->
</my-checkbox> 

